<h1>Maps</h1>
<h2>wait times by state</h2>
<p>
<img src="http://chart.apis.google.com/chart?
chco=f5f5f5,edf0d4,6c9642,365e24,13390a
&chd=t:<%= @vals %>
&chf=bg,s,eaf7fe
&chtm=usa
&chld=<%= @states %>
&chs=440x220
&cht=t" alt="chart"/>
</p>
<p>
<%= @state_times.inspect %>
</p>



