body { background-color: white; color: #333; }

body, ol, ul {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size:   10pt;
  line-height: 1.2em;
}

h1 {
	text-decoration: underline;
}

a, a:visited {
	color: #BE1E2D;	
	}

#reports {
	text-align: left;
}
#syndication {
    float: right;
}

.report {
	width: 520px;
	padding: 5px;
	margin: 3px 5px 3px 3px;
	clear: both;
	border-bottom: 1px dashed #7A7A7A;
	min-height: 50px;
}

#screen_name {
	font-weight: bold;
	color: #000A63;
}

img.profile {
	width: 48px;
	height: 48px;
	float: left;
	margin: 0px 5px 5px 0px;
	border: none;
}

.balloon .whenwhere {
	font-family: Georgia, 'Times New Roman', serif;
	color: #444;
	font-size: 9pt;
	font-style: italic;
}

.balloon {
	background: #fff;
	width: 215px;
	min-height: 100px;
	font-size: 8.5pt;
	}
	
.balloon img {
	width: 36px;
	height: 36px;
	float: left;
	margin: 0px 5px 5px 0px;
	border: none;
	}
	
.balloon a.author {
	font-weight: bold;
	color: #651480;
	}

/* charts */
.verticalBarGraph {
    border-bottom: 1px solid #FFF;
    height: 200px;
    margin: 0;
    padding: 0;
    position: relative;
    }
    
.verticalBarGraph li {
    border: 1px solid #555;
    border-bottom: none;
    bottom: 0;
    list-style:none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 39px;
    }
.barGraph {
    background: url(../images/horizontal_grid_line_50_pixel.png) bottom left;
    border-bottom: 3px solid black;
    font: 9px Helvetica, Geneva, sans-serif;
    height: 200px;
    margin: 1em 0;
    padding: 0;
    position: relative;
    }
    
.barGraph li {
    background: #666 url(../images/bar_50_percent_highlight.png) repeat-y top right;
    border: 1px solid #555;
    border-bottom: none;
    bottom: 0; 
    color: #FFF;
    margin: 0; 
    padding: 0 0 0 0;
    position: absolute;
    list-style: none;
    text-align: center;
    width: 39px;
    }
    
.barGraph li.p1{ background-color:#666666 }
.barGraph li.p2{ background-color:#888888 }
.barGraph li.p3{ background-color:#AAAAAA } 
ul#syndication a { text-decoration: none; }
ul#syndication {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-top:20px;
}
li#rss_link { margin-left:47px; }

ul#syndication img { border:medium none; margin: 0 4px;}

.balloon_body {margin-left:52px;}
.entry-title {margin-bottom: 4px;}

#message {width: 100%; margin: 5px 0; padding: 5px 0; text-align: center; border: 1px solid #555555; background-color: #BBBBBB;}

/*map page stuff */

.container {
	width: 98%;
	}
	
.container h2 {
	font-family: Georgia, 'Times New Roman,' serif;
	font-size: 14pt;
	font-weight: bold;
	}
	
.filters {
	float: left;
	width: 47%;
	}

.legend {
	float: right;
	width: 45%;
	}
	
.leftcolumn {
	width: 50%;
	float: left;
	}
	
.rightcolumn {
	width: 50%;
	float: right;
	}

ul.nobullets {    
	list-style-image:none;
    list-style-position:outside;    
  	list-style-type:none;
  	margin: 0px 0px 0px 25px;
  	padding: 0px;
  	}

ul.nobullets li {
	padding: 0px 0px 4px 0px;
	}

ul.controls {
	list-style-image:none;   
	list-style-position:outside;
	list-style-type:none;
	}
	
ul.controls li  {
	list-style: none;
	display: inline;
	}

.clear {
	clear: both;
}

/*pagination*/

.digg_pagination {
background: white;
/* self-clearing method: */ }

.digg_pagination a, .digg_pagination span {
padding: .2em .5em;
display: block;
float: left;
margin-right: 1px; }

.digg_pagination span.disabled {
color: #999;
border: 1px solid #DDD; }

.digg_pagination span.current, .digg_pagination .current {
font-weight: bold;
background: #2E6AB1;
color: white;
border: 1px solid #2E6AB1; }

.digg_pagination a {
text-decoration: none;
color: #105CB6;
border: 1px solid #9AAFE5; }

.digg_pagination a:hover, .digg_pagination a:focus {
color: #003;
border-color: #003; }

.digg_pagination .page_info {
background: #2E6AB1;
color: white;
padding: .4em .6em;
width: 22em;
margin-bottom: .3em;
text-align: center; }

.digg_pagination .page_info b {
color: #003;
background: #6aa6ed;
padding: .1em .25em; }

.digg_pagination:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden; }

* html .digg_pagination {
height: 1%; }

*:first-child+html .digg_pagination {
overflow: hidden; }
