label {
  font-weight: bold;
  padding: 0 5px; }

table.report {
  margin-bottom: 1em;
  font-size: 90%;
  width: 800px; }
  table.report th {
    font-weight: bold; }
  table.report td {
    text-align: left;
    vertical-align: top; }
  table.report td.image {
    width: 75px; }
  table.report td.author {
    width: 100px; }
  table.report td.text {
    width: 500px; }
  table.report td.controls {
    text-align: right;
    width: 125px; }
  table.report .record-form {
    background-color: white; }

.reviewer_alert_notice {
  background: url(/images/icons/exclamation.png) no-repeat center left;
  padding-left: 25px;
  border: 1px solid red;
  background-color: #EEE;
}

.reviewer_alert_notice p {
  padding: 5px;
}

tr.even {
  background-color: #EEE;
}

tr.odd {
  background-color: #DDD;
}

#toolbar {
  width: 100%;
  text-align: right;
}

/*  Use CSS to create clickable buttons */
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.button {
    background: transparent url('/images/css_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('/images/css_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}
/*   end buttons css */