label {
  font-weight: bold;
  padding: 0 5px; }

table.report {
  margin-bottom: 1em;
  font-size: 90%;
  width: 800px; }
  table.report th {
    font-weight: bold; }
  table.report td {
    text-align: left;
    vertical-align: top; }
  table.report td.image {
    width: 75px; }
  table.report td.author {
    width: 100px; }
  table.report td.text {
    width: 500px; }
  table.report td.controls {
    text-align: right;
    width: 125px; }
  table.report .record-form {
    background-color: white; }
