<table width="250">
  <tr>
    <td><h2 align="center">Reviewer Instructions</h2>
      <hr />
      <p align="center"><strong>Your Mission<br />
        </strong><br />
        Clean up a report and then click <em>Confirm</em>, or <em>Dismiss</em> a report that has no useful data.<br />
      </p>
      <p align="center">---<br />
      </p>
      <p align="center"><strong>Confirmed Reports Must Include</strong><br />
      </p>
      <p align="left">1. A location <br />
        2. Any other valid tag<br />
      <p align="center">---<br />
      <p align="center"> <strong>Valid Tags</strong><br />
      <p align="left"> <strong>#wait:xy</strong> for wait time<br />
        <em>(where xy = some number of minutes)<br />
        </em><strong>#machine</strong> for broken voting machines<br />
        <strong>#reg</strong> for registration issues<br />
        <strong>#EPXY</strong> for urgent issues that need to go to the Election Protection team<br />
      <em>(where XY = some two-character state code) </em></p>
      <p align="center">---</p>
      <p align="center"><strong>What to Do</strong></p>
      <p align="center">If a report meets both requirements (location and at least one valid tag), simply click <em>Confirm</em> to add it to our usable data</p>
      <p align="center">If the report would meet the requirements, but was incorrectly formatted, click <em>Adjust</em> to clean it up (instructions below)</p>
      <p align="center">If the there is no way to make the report useful, click <em>Dismiss.</em>(Dismissed reports are not deleted, only ignored)<br />
      </p>
      <p align="center">---<br />
      </p>
      <p align="center"><strong>Special Case: Audio Reports</strong></p>
        
 <p align="left">       All audio reports will need to be translated into text.  Click the link to listen to the report, take notes, and then click "Adjust" and translate the report into valid text.      </p>
 <p align="left">For example, the audio might say:</p>
 <p align="left"> <em>Hey man, wow this line is like crazy long here in Philly.  I musta been out here three hours.</em> <br />
   <br />
   You'd add "Philadelphia, PA" to the location field,  "180" to the wait field, and "bad" to the tags field</p>
 <p align="center">---<br />
    </p>
 <p align="center"> <strong>How to Adjust a Report</strong></p>
<p align="left"> Once you click <em>Adjust</em> you'll open the editing menu.  You'll see three

    fields: wait, tags, and location.</p>
<p align="left">In the wait field, add the time in minutes (e.g. 3 hours = 180 minutes). Only add a time if the report gave a clear value.</p>
<p align="left">In the location field, just type in the most specific location info that you can derive from the report - whether zipcode or city name.</p>
<p align="left">In the tags field, feel free to add in any number of the valid tags listed above, as long as they are applicable.</p>
<p align="left">Even if all you can do is add #bad or #good, that's useful!</p>
<p align="left">Once you're finished, you can click <em>Preview</em> to check your work, <em>Confirm</em>to add it to our pool of live data, or <em>Cancel</em> to start over.</p></td>
  </tr>
</table>