<div id="map"></div>

	<script src="http://openlayers.org/api/2.6/OpenLayers.js"></script>
    <style type="text/css">
        #map {
            width: 800px;
            height: 600px;
            border: 1px solid gray;
        }
    </style>

<script type="text/javascript" charset="utf-8">
	initMap();
</script>