- content_for :style do
  = stylesheet_link_tag 'reviews'
- content_for :javascript do
  = javascript_include_tag 'prototype'
  
%h1 Review Interface

%p
  To get started, 
  = link_to_remote 'click here', { :url => reviews_reports_path, :method => :post }
  to grab a fresh set of reports that need to be reviewed. They 
  will be reserved just for you for the next 10 minutes.
  
#reports{ :style => "display:none;" }
